<div class="general form-group">
    <input class="form-control" type="text"
        placeholder="Type in a Pokémon name or national dex number"
        style="width: 325px;" id="searchBar" />
    <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
</div>

<div style="margin: 10px 0pc 10px 10px;" class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switch">
    <label class="custom-control-label" for="switch" id="switch-label">Japanese (日本語)</label>
</div>

<div class="card mb-3">
    <h3 class="card-header" id="header">
        No. {{general.id}}: {{#format general.name}}{{/format}}
    </h3>
    <div class="card-body">
        <h5 class="card-title" id="genus">{{species.genera.7.genus}}</h5>
        {{!-- <h6 class="card-subtitle text-muted">{{species.genera.1.genus}}</h6> --}}
    </div>
    <img style="width: 96px; height: 96px" src={{general.sprites.front_default}} alt="Image" id="image">
    <div class="card-body">
        {{#ifEqual species.flavor_text_entries.0.language.name 'zh-Hans'}}
            <p class="card-text text-muted" id="version">{{#format species.flavor_text_entries.1.version.name}}{{/format}}</p>
            <p class="card-text" id="flavor-text">{{species.flavor_text_entries.2.flavor_text}}</p>
        {{/ifEqual}}
        {{#ifEqual species.flavor_text_entries.0.language.name 'ja'}}
            <p class="card-text text-muted" id="version">{{#format species.flavor_text_entries.0.version.name}}{{/format}}</p>
            <p class="card-text" id="flavor-text">{{species.flavor_text_entries.1.flavor_text}}</p>
        {{/ifEqual}}
    </div>
    <ul class="list-group list-group-flush">
        {{#ifEqual general.types.length 1}}
            <li class="list-group-item" id="type">
                Type: {{#format general.types.0.type.name}}{{/format}}
            </li>
        {{/ifEqual}}
        {{#ifEqual general.types.length 2}}
            <li class="list-group-item" id="type">
                Types: {{#format general.types.0.type.name}}{{/format}}, {{#format general.types.1.type.name}}{{/format}}
            </li>
        {{/ifEqual}}

        {{#ifEqual general.abilities.length 2}}
            <li class="list-group-item" id="type">
                Abilities: {{#format general.abilities.0.ability.name}}{{/format}}, {{#format general.abilities.1.ability.name}}{{/format}}
            </li>
        {{/ifEqual}}
        {{#ifEqual general.abilities.length 3}}
            <li class="list-group-item" id="type">
                Abilities: {{#format general.abilities.0.ability.name}}{{/format}}, {{#format general.abilities.1.ability.name}}{{/format}}, {{#format general.abilities.2.ability.name}}{{/format}}
            </li>
        {{/ifEqual}}

        <li class="list-group-item" id="height">
            Height: {{#divide general.height 10}}{{/divide}} m / {{#toFeetInches general.height}}{{/toFeetInches}}
        </li>
        <li class="list-group-item" id="weight">
            Weight: {{#divide general.weight 10}}{{/divide}} kg / {{#toPounds general.weight}}{{/toPounds}} lb
        </li>
    </ul>
</div>

<script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script>
<script src="/client/getPokemonData.js"></script>
<script src="/client/redirectToPokemon.js"></script>
